.wp-block-blocks-course-text-box {

	&.is-style-squared {
		border-radius: 0;
	}

	&.is-style-rounded {
		border-radius: 10px;
	}

	&.has-shadow {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

		&.shadow-opacity-10 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		}

		&.shadow-opacity-20 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		}

		&.shadow-opacity-30 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		}

		&.shadow-opacity-40 {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
		}
	}

	&.text-box-align-right {
		text-align: right;
	}

	&.text-box-align-center {
		text-align: center;
	}

	&.text-box-align-left {
		text-align: left;
	}
}
